<style>
  .page-footer .footer-hidden {
    color: #191919;
  }
</style>

{% if site.theme.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.theme.footer_text %}
<footer id="page-footer-trans" class="page-footer">
	<!--<p class="text">{{ site.theme.footer_text }}</p>-->
	Copyright &copy; {{ site.time | date: '%Y' }} {{ site.theme.footer_text }} All Rights Reserved. 
  <p class="text footer-hidden"><a class="footer-hidden" href="https://ShawnKlein.net">Site developed by: Klein Design</a></p>
</footer>
{% endif %}
