<div class="background">
  <div>
    <%= image_tag("logo.png") %>
  </div>
  <div>
    <%= link_to "Treats" %>
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>
  </div>

</div>

